# Get game ids

In [1]:
from nba_api.stats.endpoints import LeagueGameLog
import pandas as pd
import numpy as np

In [13]:
game_log = LeagueGameLog().get_data_frames()[0]

In [16]:
df = pd.DataFrame(game_log)

In [17]:
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22024,1610612752,NYK,New York Knicks,0022400061,2024-10-22,NYK @ BOS,L,240,43,...,29,34,20,2,3,12,12,109,-23,1
1,22024,1610612747,LAL,Los Angeles Lakers,0022400062,2024-10-22,LAL vs. MIN,W,240,42,...,31,46,22,7,8,7,22,110,7,1
2,22024,1610612738,BOS,Boston Celtics,0022400061,2024-10-22,BOS vs. NYK,W,240,48,...,29,40,33,6,3,4,15,132,23,1
3,22024,1610612750,MIN,Minnesota Timberwolves,0022400062,2024-10-22,MIN @ LAL,L,240,35,...,35,47,17,4,1,16,22,103,-7,1
4,22024,1610612744,GSW,Golden State Warriors,0022400072,2024-10-23,GSW @ POR,W,240,48,...,42,57,38,13,5,18,27,140,36,1

In [20]:
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [18]:
df.describe()

,TEAM_ID,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
count,2.460000e+03,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,...,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.00000,2460.0
mean,1.610613e+09,241.300813,41.693496,89.238618,0.468222,13.538211,37.582927,0.359893,16.900000,21.671545,...,32.993089,44.112195,26.549593,8.204878,4.876016,14.298374,18.595935,113.825203,0.00000,1.0
std,8.657201e+00,5.908252,5.266732,7.290212,0.054332,3.954880,7.033588,0.080627,5.720457,6.883644,...,5.423087,6.725460,5.288003,3.089734,2.457047,4.027811,4.204045,12.711950,15.96616,0.0
min,1.610613e+09,240.000000,22.000000,67.000000,0.293000,3.000000,12.000000,0.095000,3.000000,3.000000,...,16.000000,23.000000,9.000000,1.000000,0.000000,3.000000,5.000000,67.000000,-59.00000,1.0
25%,1.610613e+09,240.000000,38.000000,84.000000,0.430000,11.000000,33.000000,0.306000,13.000000,17.000000,...,29.000000,39.000000,23.000000,6.000000,3.000000,11.000000,16.000000,105.000000,-10.00000,1.0
50%,1.610613e+09,240.000000,42.000000,89.000000,0.468000,13.000000,37.000000,0.358000,16.000000,21.000000,...,33.000000,44.000000,26.000000,8.000000,5.000000,14.000000,18.000000,114.000000,0.00000,1.0
75%,1.610613e+09,240.000000,45.000000,94.000000,0.506000,16.000000,42.000000,0.413000,21.000000,26.000000,...,37.000000,48.000000,30.000000,10.000000,6.000000,17.000000,21.000000,122.000000,10.00000,1.0
max,1.610613e+09,290.000000,60.000000,119.000000,0.689000,29.000000,63.000000,0.680000,43.000000,53.000000,...,52.000000,73.000000,48.000000,22.000000,18.000000,31.000000,35.000000,162.000000,59.00000,1.0

In [37]:
game_ids = df['GAME_ID'].unique()

# Get play by play for game

In [45]:
from nba_api.stats.endpoints import PlayByPlayV3

In [46]:
help(PlayByPlayV3)

Help on class PlayByPlayV3 in module nba_api.stats.endpoints.playbyplayv3:

class PlayByPlayV3(nba_api.stats.endpoints._base.Endpoint)
 |  PlayByPlayV3(game_id, end_period='0', start_period='0', proxy=None, headers=None, timeout=30, get_request=True)
 |
 |  Method resolution order:
 |      PlayByPlayV3
 |      nba_api.stats.endpoints._base.Endpoint
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, game_id, end_period='0', start_period='0', proxy=None, headers=None, timeout=30, get_request=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  get_request(self)
 |
 |  load_response(self)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  data_sets = None
 |
 |  endpoint = 'playbyplayv3'
 |
 |  expected_data = {'AvailableVideo': ['videoAvailable'], 'PlayByPlay': [...
 |
 |  headers = None
 |
 |  nba_response = None
 |
 |  player_stats = None
 |
 |  team_stats = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from nba_api.stats.endpoints._base.Endpoint:
 |
 |  get_available_data(self)
 |
 |  get_data_frames(self)
 |
 |  get_dict(self)
 |
 |  get_json(self)
 |
 |  get_normalized_dict(self)
 |
 |  get_normalized_json(self)
 |
 |  get_request_url(self)
 |
 |  get_response(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from nba_api.stats.endpoints._base.Endpoint:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from nba_api.stats.endpoints._base.Endpoint:
 |
 |  DataSet = <class 'nba_api.stats.endpoints._base.Endpoint.DataSet'>

In [47]:
plays = PlayByPlayV3(game_id= game_ids[0]).get_data_frames()[0]

In [49]:
plays.columns

Index(['gameId', 'actionNumber', 'clock', 'period', 'teamId', 'teamTricode',
       'personId', 'playerName', 'playerNameI', 'xLegacy', 'yLegacy',
       'shotDistance', 'shotResult', 'isFieldGoal', 'scoreHome', 'scoreAway',
       'pointsTotal', 'location', 'description', 'actionType', 'subType',
       'videoAvailable', 'shotValue', 'actionId'],
      dtype='object')

In [60]:
plays['actionType'].unique()

array(['period', 'Jump Ball', 'Made Shot', 'Missed Shot', 'Rebound',
       'Timeout', 'Turnover', '', 'Foul', 'Free Throw', 'Substitution',
       'Instant Replay', 'Violation'], dtype=object)

In [ ]:
substitutions = plays[plays['actionType'] == 'Substitution']

In [96]:
players = plays['playerNameI'].unique()[1:]

In [97]:
print(players)

['A. Horford' 'J. Tatum' 'O. Anunoby' 'J. Brunson' 'D. White' 'K. Towns'
 'J. Brown' 'J. Holiday' 'J. Hart' 'M. Bridges' 'L. Kornet' 'J. Sims'
 'P. Pritchard' 'M. McBride' 'N. Van Exel' 'C. Payne' 'S. Hauser'
 'X. Tillman' 'P. Dadiet' 'A. Hukporti' 'T. Kolek' 'N. Queta' 'J. Walsh'
 'J. Toppin']

In [103]:
for player in players:
    player_subs = substitutions[substitutions['playerNameI'] == player]
    print(player_subs['scoreHome'])
    print(player_subs['scoreAway'])
    break

64
154
251
331
Name: scoreHome, dtype: object
64
154
251
331
Name: scoreAway, dtype: object